<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team S4 Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
<center>
  <div  style= "background-color: grey;" >
      <h1>Welcome to S4 application</h1>
    
</div>
<div  style="background-color: powderblue;">
{{{body}}}
</div>
</center>
<div>
<center>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
            <center>
  </div>
  <div>
<center>
  <h2>Add Location</h2>
       Country: <input name="Country" type="text" /> <br />
       City: <input name="City"  type="text"/> <br />
       <center>
    <h2>Add Image</h2>
    Image:<input type="file" id="file-selector" accept=".jpg, .jpeg, .png"><br />
    <input type="submit" name="submit" value="submit" />
    </center>
    </form>
  </div>
</body>
</html>